:root {
    --gradient: linear-gradient(90deg, #3299a8, #0a55a6);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: #0a55a6;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.5rem;
}

html::-webkit-scrollbar {
    background: #333;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(#3299a8, #0a55a6);
}
section {
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}

.btn {
    padding: .7rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before {
    transition: .3s linear;
    left: 120%;
}

.heading {
    color: #444;
    padding: 1rem;
    font-size: 4rem;
    text-align: center;

}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1.5rem;
    background: var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header .logo {
    color: #fff;
    font-size: 2.5rem;
}


header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff
}

header .navbar ul li a:hover {
    color: #444;
}