{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIRWEB</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%  static  'css/flightc.css'  %}" />
  </head>
  <body>
    <header>
      <!-- navbar begins -->

      <a href="#" class="logo">
        <i class="fa-solid fa-plane-departure"></i> AIRWEB</a
      >
      <nav class="navbar">
        <ul>
          <li>
            <a href="{% url 'home' %}">Back To Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- header section end -->
    <img class="wave" src="img/wave.png" />
    <div class="container">
      <div class="img">
        <img src="{% static 'Images/undraw_booking_re_gw4j.svg' %}" />
      </div>
      <div class="login-content">
        <form action="" method="post">
          {% csrf_token %}
          <img src="{% static 'Images/undraw_aircraft_fbvl.png' %}" />
          <h2 class="title">Flight Company Information</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Company ID</h5>
              <input type="number" class="input" name="fli_id" />
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Flight Company Name</h5>
              <input type="text" class="input" name="company_name"/>
            </div>
          </div>
        
            <input type="submit" class="btn" value="post" />
        
        </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'flightc.js' %}"></script>
  </body>
</html>
